@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,700&display=swap');

/*
==============================
Base CSS styles and Mobile CSS
==============================
*/
html{
    font-size: 62.5%;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    
}

body{
    margin: 0;
}
#topbar{
    background-color: #000;
    color: #fff;
    min-width: 100vw;
    height: auto;
    width: 100vw;;
}

#mobNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    margin: 1em auto;
}

#hamburger, #search{
    height: 3em;
    padding: 0 1rem;
}

#menu-items{
    display: none;
}

#menu-items li{
    list-style: none;
    font-size: 2rem;
}

main{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    
}

#image-display{
    margin: 0;
}
#display-image{
    max-width: 100vw;
}

#image-icons{
    display: none;
    flex-direction: row;
    overflow-x: scroll;
}

.img{
    width: 25%;
    height: auto;
}

#photos-btn{
    background-color: #ffe4c4;
    width:3rem;
    padding:0 0.5rem;
    border-radius: 5rem;
    position: absolute;
    right: 0;
    transform: translate(-1.5rem, -4rem);
}

main h1{
    margin: 0 auto auto 1rem;
    font-size: 2rem;
}

#info-panel{
    display: flex;
    justify-content: space-between;
    margin: auto 0.5rem;
}

#rating{
    display: flex;
    font-size: 1.5rem;
    align-items: center;
}

#rating img{
    height: 2rem;
}

#rating figcaption{
    padding: 0 0.2rem;
    font-weight: 100;
}

#rating p{
    padding-left: 1.2rem;
    font-weight: 100;
}

#info{
    display: flex;
    flex-direction: row;
}

#hours, #location{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 1rem;
}

#hours img, #location img{
    height: 5rem;
}

#hours p, #location p{
    font-size: 1.5rem;
    font-weight: 100;
}

#price-details{
    margin: 4rem 2rem;
}

#price-old{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 100;
}

#price {
    margin: 0;
    margin-left: 0.2rem;
    font-size: 3rem;
    font-weight: 900;
}

#price-cap{
    margin: 0;
    margin-left: 0.2rem;
    font-size: 2.5rem;
    font-weight: 900;
}

#main-content button{
    display: none;
}

#facilities{
    display: flex;
    justify-content: space-around;
}

.facility img{
    height: 10rem;
}

/*
=================================
        Css for desktop
=================================
*/

@media (min-width: 1024px) {

    #hamburger{
        display: none;
    }
    #topbar{
        display: block;
        position: relative;
        height: 8rem;
    }
    #menu-items{
        display: inline-block;
        position: relative;
        top: -2.5rem;
        margin: 2rem 0;
    }

    #menu-items li{
        display: inline-block;
        margin: 0 1rem;
    }

    #mobNav{
        display: inline-block;
    }

    #search{
        position: absolute;
        right: 2rem;
        top: 2rem;
    }

    #logo{
        padding: 0 0 0 5rem;
    }

    main{
        flex-direction: row;
        justify-content: space-around;
    }

    #image-display{
        width: 60vw;
        display: flex;
    }

    #display-image{
        max-width: 50vw;
        height: auto;
    }

    #photos-btn{
        display: none;
    }
    
    #image-icons{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .img{
        width: 10vw;
        max-height: auto;
    }

    #main-content{
        margin-top: 3rem;
        min-width: 30vw;
    }

    #price-details{
        margin: 1.5rem 2rem;
    }
    
    #price-old{
        font-size: 2rem;
    }
    
    #price {
        font-size: 4rem;
    }
    
    #price-cap{
        font-size: 3rem;
    }

   #main-content button{
        display: block;
        min-width: 25vw;
        font-size: 2rem;
        padding: 1rem;
        margin: 0 auto 1rem auto;
        border: none;
        background-color: #facc4e;
   }

   #main-content button:hover{
        background-color: #fde6a6;
    }
}

@media (min-width: 1440px) {
    
    #menu-items li{
        font-size: 3rem;
    }

    #main-content{
        margin-top: 3rem;
        min-width: 35vw;
    }

    #price-details{
        margin: 1.5rem 2rem;
    }
    
    #price-old{
        font-size: 2rem;
    }
    
    #price {
        font-size: 4rem;
    }
    
    #price-cap{
        font-size: 3rem;
    }
    
    main h1{
        font-size: 4rem;
    }
    
    
    #rating{
        font-size: 3rem;
    }
    
    #rating img{
        height: 3rem;
    }

    #hours, #location{
        margin: auto 3rem;
    }
    
    #hours img, #location img{
        height: 8rem;
    }
    
    #hours p, #location p{
        font-size: 3rem;
    }
    
    #price-details{
        margin: 2rem;
    }
    
    #price-old{
        font-size: 3rem;
        font-weight: 100;
    }
    
    #price {
        font-size: 6rem;
    }
    
    #price-cap{
        font-size: 5rem;
    }

    #main-content button{
        font-size: 4rem;
    }

    
}
